extends base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password", type="password", name="Old Password")
        input(placeholder="New Password", type="password", name="New Password")
        input(placeholder="New Password Confirm", type="password", name="New Password Confirm")